hostname nlhtc-gclab-hsnexus1
vdc nlhtc-gclab-hsnexus1 id 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 104
  limit-resource u4route-mem minimum 128 maximum 128
  limit-resource u6route-mem minimum 3 maximum 3
  limit-resource m4route-mem minimum 58 maximum 58
  limit-resource m6route-mem minimum 3 maximum 3

feature privilege
feature scp-server
feature tacacs+
cfs eth distribute
feature eigrp
feature interface-vlan
feature hsrp
feature lacp
feature vpc
feature lldp
!

!
no password strength-check
username admin password 5 $5$NO5LxThv$16/sQpKc2C.TG24/qs/Wl/LBSq2v23yRr.X8RZT1p4D  role network-admin
username CSP password 5 $5$vn1ZgyRy$Gsjj9O.ovUuZ46fEUJYRC8tp5aNysV/I6I/kyOttAt2  role network-operator
# BEGIN BANNER
!
banner motd @
{% include "../../../banner/templates/"+os+"/banner.j2" %}
@
!
# END BANNER
ip domain-lookup
ip domain-name dtq.nl-htc01.nxp.com
tacacs-server host 165.114.16.142 key 7 "q3xb0rf" timeout 2
tacacs-server host 92.120.73.211 key 7 "q3xb0rf" timeout 2
aaa group server tacacs+ NXP-GC-AUTH
    server 92.120.73.211
    server 165.114.16.142
    use-vrf management
    source-interface mgmt0
service unsupported-transceiver
ip access-list 15
  10 permit ip 10.64.156.52/32 any
  20 permit ip 10.64.156.53/32 any
  30 permit ip 92.120.73.210/32 any
  40 permit ip 134.27.224.215/32 any
  50 permit ip 165.114.250.226/32 any
  60 permit ip 134.27.196.115/32 any
  70 permit ip 10.81.154.252/32 any
  80 permit ip 134.27.224.221/32 any
  90 permit ip 165.114.16.212/32 any
  100 permit ip 10.81.250.245/32 any
  110 permit ip 10.64.155.24/32 any
  120 permit ip 10.64.155.23/32 any
  130 permit ip 134.27.224.127/32 any
  140 permit ip 134.27.224.128/32 any
  150 permit ip 165.114.16.213/32 any
  160 permit ip 165.114.16.25/32 any
ip access-list copp-system-acl-eigrp
  10 permit eigrp any 224.0.0.10/32
ipv6 access-list copp-system-acl-eigrp6
  10 permit eigrp any ff02::a/128
ip access-list copp-system-acl-icmp
  10 permit icmp any any
ip access-list copp-system-acl-igmp
  10 permit igmp any any
ip access-list copp-system-acl-ntp
  10 permit udp any any eq ntp
  20 permit udp any eq ntp any
ip access-list copp-system-acl-pimreg
  10 permit pim any any
ip access-list copp-system-acl-ping
  10 permit icmp any any echo
  20 permit icmp any any echo-reply
ip access-list copp-system-acl-routingproto1
  10 permit tcp any gt 1024 any eq bgp
  20 permit tcp any eq bgp any gt 1024
  30 permit udp any 224.0.0.0/24 eq rip
  40 permit tcp any gt 1024 any eq 639
  50 permit tcp any eq 639 any gt 1024
  70 permit ospf any any
  80 permit ospf any 224.0.0.5/32
  90 permit ospf any 224.0.0.6/32
ip access-list copp-system-acl-routingproto2
  10 permit udp any 224.0.0.0/24 eq 1985
  20 permit 112 any 224.0.0.0/24
ip access-list copp-system-acl-snmp
  10 permit udp any any eq snmp
  20 permit udp any any eq snmptrap
ip access-list copp-system-acl-ssh
  10 permit tcp any any eq 22
  20 permit tcp any eq 22 any
ip access-list copp-system-acl-stftp
  10 permit udp any any eq tftp
  20 permit udp any any eq 1758
  30 permit udp any eq tftp any
  40 permit udp any eq 1758 any
  50 permit tcp any any eq 115
  60 permit tcp any eq 115 any
ip access-list copp-system-acl-tacacsradius
  10 permit tcp any any eq tacacs
  20 permit tcp any eq tacacs any
  30 permit udp any any eq 1812
  40 permit udp any any eq 1813
  50 permit udp any any eq 1645
  60 permit udp any any eq 1646
  70 permit udp any eq 1812 any
  80 permit udp any eq 1813 any
  90 permit udp any eq 1645 any
  100 permit udp any eq 1646 any
ip access-list copp-system-acl-telnet
  10 permit tcp any any eq telnet
  20 permit tcp any any eq 107
  30 permit tcp any eq telnet any
  40 permit tcp any eq 107 any
ipv6 access-list copp-system-acl-v6routingProto2
  10 permit udp any ff02::66/128 eq 2029
  20 permit udp any ff02::fb/128 eq 5353
  30 permit 112 any ff02::12/128
ipv6 access-list copp-system-acl-v6routingproto1
  10 permit 89 any ff02::5/128
  20 permit 89 any ff02::6/128
  30 permit udp any ff02::9/128 eq 521
ip access-list copp-system-dhcp-relay
  10 permit udp any eq bootps any eq bootps
class-map type qos match-all copp-ntp
policy-map type network-qos jumbo
  class type network-qos class-default
    mtu 9216
system qos
  service-policy type network-qos jumbo
class-map type control-plane match-any copp-icmp
  match access-group name copp-system-acl-icmp
class-map type control-plane match-any copp-ntp
  match access-group name copp-system-acl-ntp
class-map type control-plane match-any copp-s-arp
class-map type control-plane match-any copp-s-bfd
class-map type control-plane match-any copp-s-bpdu
class-map type control-plane match-any copp-s-dai
class-map type control-plane match-any copp-s-default
class-map type control-plane match-any copp-s-dhcpreq
class-map type control-plane match-any copp-s-dhcpresp
  match access-group name copp-system-dhcp-relay
class-map type control-plane match-any copp-s-dpss
class-map type control-plane match-any copp-s-eigrp
  match access-group name copp-system-acl-eigrp
  match access-group name copp-system-acl-eigrp6
class-map type control-plane match-any copp-s-glean
class-map type control-plane match-any copp-s-igmp
  match access-group name copp-system-acl-igmp
class-map type control-plane match-any copp-s-ipmcmiss
class-map type control-plane match-any copp-s-l2switched
class-map type control-plane match-any copp-s-l3destmiss
class-map type control-plane match-any copp-s-l3mtufail
class-map type control-plane match-any copp-s-l3slowpath
class-map type control-plane match-any copp-s-mpls
class-map type control-plane match-any copp-s-pimautorp
class-map type control-plane match-any copp-s-pimreg
  match access-group name copp-system-acl-pimreg
class-map type control-plane match-any copp-s-ping
  match access-group name copp-system-acl-ping
class-map type control-plane match-any copp-s-ptp
class-map type control-plane match-any copp-s-routingProto1
  match access-group name copp-system-acl-routingproto1
  match access-group name copp-system-acl-v6routingproto1
class-map type control-plane match-any copp-s-routingProto2
  match access-group name copp-system-acl-routingproto2
class-map type control-plane match-any copp-s-selfIp
class-map type control-plane match-any copp-s-ttl1
class-map type control-plane match-any copp-s-v6routingProto2
  match access-group name copp-system-acl-v6routingProto2
class-map type control-plane match-any copp-s-vxlan
class-map type control-plane match-any copp-snmp
  match access-group name copp-system-acl-snmp
class-map type control-plane match-any copp-ssh
  match access-group name copp-system-acl-ssh
class-map type control-plane match-any copp-stftp
  match access-group name copp-system-acl-stftp
class-map type control-plane match-any copp-tacacsradius
  match access-group name copp-system-acl-tacacsradius
class-map type control-plane match-any copp-telnet
  match access-group name copp-system-acl-telnet
policy-map type control-plane copp-system-policy
  class copp-s-default
    police pps 400
  class copp-s-l2switched
    police pps 200
  class copp-s-ping
    police pps 100
  class copp-s-l3destmiss
    police pps 100
  class copp-s-glean
    police pps 500
  class copp-s-selfIp
    police pps 500
  class copp-s-l3mtufail
    police pps 100
  class copp-s-ttl1
    police pps 100
  class copp-s-ipmcmiss
    police pps 400
  class copp-s-l3slowpath
    police pps 100
  class copp-s-dhcpreq
    police pps 300
  class copp-s-dhcpresp
    police pps 300
  class copp-s-dai
    police pps 300
  class copp-s-igmp
    police pps 400
  class copp-s-routingProto2
    police pps 1300
  class copp-s-v6routingProto2
    police pps 1300
  class copp-s-eigrp
    police pps 200
  class copp-s-pimreg
    police pps 200
  class copp-s-pimautorp
    police pps 200
  class copp-s-routingProto1
    police pps 1000
  class copp-s-arp
    police pps 200
  class copp-s-ptp
    police pps 1000
  class copp-s-vxlan
    police pps 1000
  class copp-s-bfd
    police pps 350
  class copp-s-bpdu
    police pps 12000
  class copp-s-dpss
    police pps 1000
  class copp-s-mpls
    police pps 100
  class copp-icmp
    police pps 200
  class copp-telnet
    police pps 500
  class copp-ssh
    police pps 500
  class copp-snmp
    police pps 500
  class copp-tacacsradius
    police pps 400
  class copp-stftp
    police pps 400
control-plane
  service-policy input copp-system-policy
!
!# BEGIN SNMP
{% include "../../../banner/templates/"+os+"/snmp.j2" %}
!# END SNMP
!
rmon event 1 log trap public description FATAL(1) owner PMON@FATAL
rmon event 2 log trap public description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 log trap public description ERROR(3) owner PMON@ERROR
rmon event 4 log trap public description WARNING(4) owner PMON@WARNING
rmon event 5 log trap public description INFORMATION(5) owner PMON@INFO
!
!# BEGIN LOGGING
{% include "../../../banner/templates/"+os+"/logging.j2" %}
!# END LOGGING
!
!
!# BEGIN NTP
{% include "../../../banner/templates/"+os+"/ntp.j2" %}
!# END NTP
!
aaa authentication login default group NXP-GC-AUTH
aaa authorization commands default group NXP-GC-AUTH local
aaa accounting default group NXP-GC-AUTH
!
vlan 1
vlan 3022
  name RDCLAN-STORAGE1
vlan 3024
  name RDCLAN-STORAGE3
vlan 3031
  name RDCLAN-SERVER1
vlan 3112
  name LAN-DCISOFW
vlan 3122
  name LAN-SRVMGMT1
vlan 3131
  name LAN-SERVER1
vlan 3132
  name LAN-SERVER2
vlan 3133
  name LAN-FWSERVER1
vlan 3134
  name LAN-SERVER3
spanning-tree port type edge default
spanning-tree port type edge bpduguard default
spanning-tree loopguard default
route-map default permit 10
vrf context dclan
  ip route 10.1.9.0/24 10.1.0.44
vrf context keep_alive
vrf context management
  ip route 0.0.0.0/0 134.27.196.1
no system urpf disable
no port-channel load-balance resilient

vpc domain 101
  role priority 10
  system-priority 40000
  peer-keepalive destination 192.168.0.2 source 192.168.0.1 vrf keep_alive
  peer-gateway
!
!
interface Vlan1
  description Not_Used

interface Vlan3112
  description LAN-DCISOFW
  no shutdown
  vrf member dclan
  ip address 10.1.0.42/29
  ip router eigrp NXP-DR
  hsrp 12
    authentication text dc
    preempt
    priority 110
    ip 10.1.0.41

interface Vlan3122
  description LAN-SERVERMGT
  no shutdown
  vrf member dclan
  ip address 10.1.4.2/24
  ip router eigrp NXP-DR
  no ip passive-interface eigrp NXP-DR
  hsrp 22
    authentication text dc
    preempt
    priority 110
    ip 10.1.4.1

interface Vlan3131
  description LAN-SERVER1
  no shutdown
  vrf member dclan
  ip address 10.1.6.2/24
  ip router eigrp NXP-DR
  hsrp 31
    authentication text dc
    preempt
    priority 110
    ip 10.1.6.1

interface Vlan3132
  description LAN-SERVER3
  no shutdown
  vrf member dclan
  ip address 10.1.7.2/24
  ip router eigrp NXP-DR
  hsrp 32
    authentication text dc
    preempt
    priority 110
    ip 10.1.7.1

interface Vlan3134
  description LAN-SERVER4
  no shutdown
  vrf member dclan
  ip address 10.1.8.2/24
  ip router eigrp NXP-DR
  hsrp 32
    authentication text dc
    preempt
    priority 110
    ip 10.1.8.1

interface port-channel1
  description HFASA1-DC
  switchport mode trunk

interface port-channel10
  description HSNEXUS1
  switchport mode trunk
  spanning-tree port type network
  vpc peer-link

interface Ethernet1/1
  description Not_Used
  shutdown

interface Ethernet1/2
  description Not_Used
  shutdown

interface Ethernet1/3
  description Not_Used
  shutdown

interface Ethernet1/4
  description Not_Used
  shutdown

interface Ethernet1/5
  description Not_Used
  shutdown

interface Ethernet1/6
  description Not_Used
  shutdown

interface Ethernet1/7
  description Not_Used
  shutdown

interface Ethernet1/8
  description Not_Used
  shutdown

interface Ethernet1/9
  description Not_Used
  shutdown

interface Ethernet1/10
  description Not_Used
  shutdown

interface Ethernet1/11
  description Not_Used
  shutdown

interface Ethernet1/12
  description Not_Used
  shutdown

interface Ethernet1/13
  description HFASA1-Gi0/0
  switchport mode trunk
  channel-group 1 mode active

interface Ethernet1/14
  description HFASA1-Gi0/1
  switchport mode trunk
  channel-group 1 mode active

interface Ethernet1/15
  description Not_Used
  shutdown

interface Ethernet1/16
  description Not_Used
  shutdown

interface Ethernet1/17
  description Not_Used
  shutdown

interface Ethernet1/18
  description Not_Used
  shutdown

interface Ethernet1/19
  description Not_Used
  shutdown

interface Ethernet1/20
  description Not_Used
  shutdown

interface Ethernet1/21
  description Not_Used
  shutdown

interface Ethernet1/22
  description Not_Used
  shutdown

interface Ethernet1/23
  description Not_Used
  shutdown

interface Ethernet1/24
  description Not_Used
  shutdown

interface Ethernet1/25
  description Not_Used
  shutdown

interface Ethernet1/26
  description Not_Used
  shutdown

interface Ethernet1/27
  description Not_Used
  shutdown

interface Ethernet1/28
  description Not_Used
  shutdown

interface Ethernet1/29
  description Not_Used
  shutdown

interface Ethernet1/30
  description Not_Used
  shutdown

interface Ethernet1/31
  description Not_Used
  shutdown

interface Ethernet1/32
  description Not_Used
  shutdown

interface Ethernet1/33
  description Not_Used
  shutdown

interface Ethernet1/34
  description Not_Used
  shutdown

interface Ethernet1/35
  description Not_Used
  shutdown

interface Ethernet1/36
  description Not_Used
  shutdown

interface Ethernet1/37
  description Not_Used
  shutdown

interface Ethernet1/38
  description Not_Used
  shutdown

interface Ethernet1/39
  description Not_Used
  shutdown

interface Ethernet1/40
  description Not_Used
  shutdown

interface Ethernet1/41
  description Not_Used
  shutdown

interface Ethernet1/42
  description Not_Used
  shutdown

interface Ethernet1/43
  description Not_Used
  shutdown

interface Ethernet1/44
  description Not_Used
  shutdown

interface Ethernet1/45
  description Not_Used
  shutdown

interface Ethernet1/46
  description Not_Used
  shutdown

interface Ethernet1/47
  description VIC0002-STORAGE
  switchport mode trunk
  switchport trunk allowed vlan 3022,3024,3031

interface Ethernet1/48
  description ACI-DC-VM's
  switchport mode trunk
  switchport trunk allowed vlan 3022,3024,3031,3131-3134

interface Ethernet1/49
  description HSNEXUS2-Eth1/49
  no switchport
  vrf member keep_alive
  ip address 192.168.0.1/30

interface Ethernet1/50
  description HSNEXUS2-Eth1/50
  switchport mode trunk
  spanning-tree port type network
  channel-group 10 mode active

interface Ethernet1/51
  description HSNEXUS2-Eth1/51
  switchport mode trunk
  spanning-tree port type network
  channel-group 10 mode active

interface Ethernet1/52
  description HRIOS1-Te1/1/2
  no switchport
  vrf member dclan
  ip address 10.1.0.34/30
  ip router eigrp NXP-DR
  no ip passive-interface eigrp NXP-DR

interface mgmt0
  description MGMT-HSIOS4-Gi1/0/4
  vrf member management
  ip address 134.27.196.172/24
line console
line vty
router eigrp NXP-DR
  passive-interface default
  vrf dclan
    address-family ipv4 unicast
      autonomous-system 200
      router-id 10.1.0.34
      redistribute static route-map default
!
cli alias name wri copy run start
cli alias name q exit
cli alias name wr copy run start
