________________________/ DISCLAIMER \__________________________
   THIS NETWORK DEVICE IS PART OF THE PRIVATE NETWORK OF
                   {{ global.customer }}
 ACCESS IS PERMITTED FOR AUTHORIZED PERSONS ONLY ALL ACCESS AND
COMMANDS ARE LOGGED AND NXP HAS THE RIGHT BY LAW TO AUDIT AND
   INSPECT THE LOGGING FOR MONITORING AND SECURITY PURPOSES

 BY COMPLETING THE LOGIN PROCESS YOU ACKNOWLEDGE, UNDERSTAND AND
 CONSENT TO THE PROVISIONS OF THIS DISCLAIMER IF YOU ARE NOT AN
   AUTHORIZED USER, PLEASE DISCONTINUE THIS LOGIN PROCES NOW
______________________                  ________________________
                      \ END DISCLAIMER /
