!! BEGIN BANNERS
no banner exec
no banner motd
banner motd $

{{"THIS NETWORK DEVICE IS PART OF THE PRIVATE NETWORK OF" | center }}

{{ global.customer | upper | center }}

{{"ACCESS IS PERMITTED FOR AUTHORIZED PERSONS ONLY ALL ACCESS AND ALL" | center }}
{{"COMMANDS ARE LOGGED. OUR IT AND SECURITY DEPARTMENTS HAVE THE RIGHT" | center }}
{{"BY LAW TO AUDIT AND INSPECT THE LOGGING FOR MONITORING AND SECURITY PURPOSES" | center }}

{{"Managed by Elite Engineers "| upper | center }}

$
banner exec $
{{"BY COMPLETING THE LOGIN PROCESS YOU ACKNOWLEDGE, UNDERSTAND AND" | center }}
{{"CONSENT TO THE PROVISIONS OF THIS DISCLAIMER. IF YOU ARE NOT AN" | center }}
{{"AUTHORIZED USER, DISCONTINUE THIS LOGIN PROCES NOW !" | center }}

{{"Elite NOC : support@elite-engineers.nl"| upper }}

$
!! END BANNERS
